
aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
Flask
gitpython
gunicorn
hachoir
heroku3
httpx[http2]
lyricsgenius
motor
ntgcalls
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
Kurigram
python-dotenv
pyyaml
requests
telegraph
speedtest-cli
spotipy
TgCrypto
unidecode
werkzeug
yt-dlp>=2025.4.30
py-yt-search
uvloop==0.21.0; sys_platform != "win32"
https://github.com/KSKOP69/youtube-search-python/archive/ksk.zip
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/joetats/youtube_search@master
git+https://github.com/TeamAloneOp/yt-dlp-youtube-oauth2
